@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');

* {
   box-sizing: border-box;
}
.calculator {
   width: 300px;
   height: 500px;
   box-sizing: border-box;
   font-family: 'Manrope', sans-serif;
   background-color: black;
   box-shadow: 4px 4px 4px #6f6f6f;
   border-radius: 25px;
   margin: 30px auto;
   padding: 10px;
   position: relative;
}

.headline {
   position: absolute;
   left: 10px;
   top: 10px;
   font-weight: 200;
   color: rgba(158, 158, 158, 0.685);   
   z-index: 1;
   font-size: 0.9rem; 
}

.headline:hover{
   cursor: pointer;
}

.calcscreen {
   height: 125px;
   line-height: 0;
   color: #fff;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
}
.calcscreen p{
   margin: 0;
   font-weight: 200;
   font-size: 3.5rem;   
   margin-bottom: 45px;
   position: absolute;
   text-align: right;
   bottom: 0;
   right: 0;
}
.calcscreen p::after {
   width: 1px;
   height: 50px;
   background-color: #fff;
   content: "";
   margin-bottom: 20px;
   display: block;
   position: absolute;
   right: 5px;
   bottom: -45px;
   animation-duration: 2s;
   animation-name: twinkle;
   animation-iteration-count: infinite;
}

@keyframes twinkle {
   from {
     opacity: 1;
   }
   25%{
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   75%{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
 
   
 }


.calcscreen.active p::after {
   display:none;
}

.calcscreen.miniFontSize p {
   font-size: 2.5rem;
}
.calcscreen.microFontSize p {
   font-size: 1.5rem;
}


.buttons{
   display: grid;
   grid-template-areas: 
   "ac clear plusminus dilive"
   "seven eight nine multiply"
   "four five six minus"
   "one two three multiplay"   
   "zero zero dot equal";
   grid-gap:7px;
   justify-items: center;
   
}

.btn {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   color: #fff;
   text-align: center;
   line-height: 60px;
   font-size: 1.8rem;
   user-select:none;
   cursor: pointer;
}

.btn:hover {
   filter: brightness(130%);
}
.btn:active {
   filter: brightness(80%);
}

.btn-grey {
   background-color: rgb(34, 34, 34);
}
.btn-orange {
   background-color: orange;
}

.btn-white {
   background-color: rgb(110, 110, 110);
}
.zero {
   grid-area: zero;
   width: 100%;
   border-radius: 34px;
}